[SETTINGS]
APIID=44480
APIKEY=f5675001-155b-4dff-89d4-7b63e1a77cee
SAVE_LOCALLY=YES
PROCESS_DIR= /tmp/processed/
BASEURL=https://logs1.incapsula.com/8704_710734/
USEPROXY=NO
PROXYSERVER=
SYSLOG_ENABLE=YES
SYSLOG_ADDRESS=10.0.73.200
SYSLOG_PORT=514
SYSLOG_PROTO=TCP
USE_CUSTOM_CA_FILE=NO
CUSTOM_CA_FILE=
